*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [10]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [11]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-01-05 01:36:13--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.3.33, 172.67.70.149, 104.26.2.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.3.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  24.2MB/s    in 1.0s

2022-01-05 01:36:14 (24.2 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [12]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
# add your code here - consider creating a new cell for each section of code

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):


  return recommended_books

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

In [ ]:
samples = [[0, 0, 2], [1, 0, 0], [0, 0, 1]]
neigh = NearestNeighbors(n_neighbors=5, radius=0.4)
neigh.fit(samples)
#NearestNeighbors(...)
neigh.kneighbors([0,6,2], 2)

In [ ]:
df_books.head(20)

          isbn  ...                author
0   0195153448  ...    Mark P. O. Morford
1   0002005018  ...  Richard Bruce Wright
2   0060973129  ...          Carlo D'Este
3   0374157065  ...      Gina Bari Kolata
4   0393045218  ...       E. J. W. Barber
5   0399135782  ...               Amy Tan
6   0425176428  ...         Robert Cowley
7   0671870432  ...           Scott Turow
8   0679425608  ...       David Cordingly
9   074322678X  ...           Ann Beattie
10  0771074670  ...  David Adams Richards
11  080652121X  ...            Adam Lebor
12  0887841740  ...           Sheila Heti
13  1552041778  ...          R. J. Kaiser
14  1558746218  ...         Jack Canfield
15  1567407781  ...     Loren D. Estleman
16  1575663937  ...    Robert Hendrickson
17  1881320189  ...          Julia Oliver
18  0440234743  ...          John Grisham
19  0452264464  ...         Toni Morrison

[20 rows x 3 columns]

In [ ]:
df_ratings.head(20)

      user        isbn  rating
0   276725  034545104X     0.0
1   276726  0155061224     5.0
2   276727  0446520802     0.0
3   276729  052165615X     3.0
4   276729  0521795028     6.0
5   276733  2080674722     0.0
6   276736  3257224281     8.0
7   276737  0600570967     6.0
8   276744  038550120X     7.0
9   276745   342310538    10.0
10  276746  0425115801     0.0
11  276746  0449006522     0.0
12  276746  0553561618     0.0
13  276746  055356451X     0.0
14  276746  0786013990     0.0
15  276746  0786014512     0.0
16  276747  0060517794     9.0
17  276747  0451192001     0.0
18  276747  0609801279     0.0
19  276747  0671537458     9.0

In [18]:
df_books['title'] = "pão"
df_books.head(5)

  isbn title                author III
0  pão   pão    Mark P. O. Morford  LO
1  pão   pão  Richard Bruce Wright  LO
2  pão   pão          Carlo D'Este  LO
3  pão   pão      Gina Bari Kolata  LO
4  pão   pão       E. J. W. Barber  LO